Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-make-shared,
  modernize-make-unique,
  modernize-use-nullptr,
  modernize-use-override,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|apps|plugins|tests)/.*'
FormatStyle: file
